extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Ask about supernatural encounters and phenomena, or answer a question with your expertise and experience!
  div
    each question in questions
      div
        a(href=`/questions/${question.id}`) #{question.content}
        div #{question.User.username}
        div #{question.Tag.tagName}
