extends layout

block content
  div(class="mainContentDiv")
    div(class="frame-container")
      include fancy-frame.pug
      p(class="pText") Ask about supernatural encounters and phenomena, or answer a question with your expertise and experience!
    each question in questions
      div(class="questionDivMainPage")
        a(href=`/questions/${question.id}` class="questionText qContent") #{question.content}
        div(class="userTagDiv")
          span(class="askedBy") User:
          span(class="userTag") #{question.User.username}
          div(class="hoverAnimate")
            span(class="userTag tag" id=`${question.Tag.tagName}`)
              a(href=`/tags/${question.Tag.id}`) ##{question.Tag.tagName}
