extends layout.pug
include utils.pug
block content
    script(src="/javascripts/answers.js" type="module")
    div(class="mainContentDiv")
        div(class="questionDiv")
            div(class='questionInnerContent')
                div(class="qContent")
                    h2(class="questionTextStatic") #{question.content}
                    div(class="questionMetaDiv")
                        div
                            span(class="askedBy") Asked by:
                            span(class="userTag") #{question.User.username}
                        span(class="userTag tag" id=`${question.Tag.tagName}`) ##{question.Tag.tagName}
                div(class='editDeleteAnswer')
                    a(href=`/questions/${question.id}/answers/new` class='askbtn formButton' id='answerBtn') Answer
                    if locals.authenticated
                        if question.User.id === locals.user.id
                            div(class='editDelete')
                                a(href=`/questions/${question.id}/edit` class='askbtn formButton' id='editBtn') Edit
                                form(action=`/questions/${question.id}/delete`, method='get')
                                    button(type='submit' class='askbtn formButton' id='deleteBtn') Delete
                each answer in answers
                    div(class="ansDiv" id=`answerDiv-${answer.id}`)
                        div(class='answerContent' id=`answerDisplay-${answer.id}`)
                            div(id=`answer-content-${answer.id}`)
                                each line in answer.content.split('\n')
                                    div= line
                            hr(class='divider' id='ansdiv')
                            div(class='userDate')
                                div #{answer.User.username}
                                div #{answer.date}
                        if locals.authenticated
                            if answer.User.id === locals.user.id
                                form(class='hidden' id=`edit-form-${answer.id}`)
                                    div(class='errorList formError' id=`edit-errors-${answer.id}`)
                                    label Edit your answer:
                                    textarea(type="text" name="content" id=`${answer.id}-edit-content` cols="30" rows="10")
                                    button(class="edit-cancel" id=`edit-cancel-${answer.id}`) Cancel
                                    button(class=`q-${question.id} edit-submit` id=`edit-submit-${answer.id}`) Submit
                                div(class='editdeleteAns')
                                    button(type='submit' class='editAnsBtn' id=`edit-${answer.id}`) Edit
                                    button(type='submit' class=`q-${question.id} deleteAnsBtn`  id=`delete-${answer.id}`) Delete
