extends layout

block content
  div(class="mainContentDiv")
    p(class="pText") Search Results For: "#{search}"
    each question in questions
      div(class="questionDiv")
        a(href=`/questions/${question.id}` class="questionText qContent") #{question.content}
        div
          span(class="userTag") #{question.User.username}
          span(class="userTag tag" id=`${question.Tag.tagName}`) ##{question.Tag.tagName}
