extends layout

block content
  script(src="/javascripts/search-results.js" type="module")
  div(class="mainContentDiv")
    p(class="pText") Search Results For: "#{search}"
    if questions.length
        each question in questions
            div(class="questionDivMainPage")
                a(href=`/questions/${question.id}` class="questionText qContent") #{question.content}
                div(class="userTagDiv")
                    div(class="askedUser")
                        span(class="askedBy") User:
                        span(class="userTag") #{question.User.username}
                    div(class="hoverAnimate")
                        span(class="userTag tag" id=`${question.Tag.tagName}`)
                            a(href=`/tags/${question.Tag.id}`) ##{question.Tag.tagName}
                //- div
                //-     span(class="askedBy") User:
                //-     span(class="userTag") #{question.User.username}
                //-     span(class="userTag tag" id=`${question.Tag.tagName}`)
                //-         a(href=`/tags/${question.Tag.id}`) ##{question.Tag.tagName}
    else
        div(class="noSearchText") The truth is out there. Just not here. Try searching for something else 👽👻
