extends layout

block content
  div(class="mainContentDiv")
    div(class="questionDivMainPage") Other tags to search for:
        div(class='questionDivTags')
            each tag in tags
                span(class="userTag tag" id=`${tag.tagName}`)
                    a(href=`/tags/${tag.id}`) ##{tag.tagName}
    p(class="pText") Questions for tag: "#{tag.tagName}"
    if questions.length
        each question in questions
            div(class="questionDivMainPage")
                a(href=`/questions/${question.id}` class="questionText qContent") #{question.content}
                div
                    span(class="askedBy") User:
                    span(class="userTag") #{question.User.username}
                    span(class="userTag tagNoClick" id=`${question.Tag.tagName}`) ##{question.Tag.tagName}
    else
        div(class="noSearchText") No questions found under "#{tag.tagName}" yet 👽👻
