extends layout

block content
  div(class="mainContentDiv")
    p(class="pText") Questions for tag: "#{tag.tagName}"
    if questions.length
        each question in questions
            div(class="questionDiv")
                a(href=`/questions/${question.id}` class="questionText qContent") #{question.content}
                div
                    span(class="askedBy") User:
                    span(class="userTag") #{question.User.username}
                    span(class="userTag tag" id=`${question.Tag.tagName}`) 
                        a(href=`/tags/${question.Tag.id}`) ##{question.Tag.tagName}
    else
        div(class="noSearchText") No questions found under "#{tag.tagName}" yet 👽👻