extends layout.pug
include utils.pug
block content
  div(class='extraNavSpacer')
  div(class='form-div-wide')
    h2(class='formTitle') Edit Your Question
    hr(class='divider')
    +validationErrorSummary(errors)
    form(action=`/questions/${question.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="content") I want to know...
      textarea(name="content" cols="55" rows="5" maxlength='140' class="askQTextarea") #{question.content}
      div#less (Less than 140 characters)
      select(name="tagId" id='tagId')
        option(disabled selected) Select a tag
        each tag in tags
            option(value=tag.id selected=(tag.id == question.tagId )) #{tag.tagName}
      div(class="formBtnDiv")
        a(href=`/questions/${question.id}` class='formButtonNoMargin cancelButton' id="cancelAnsBtn") Cancel
        button(type='submit' class='formButtonNoMargin' id='submitAnsBtn') Submit
